[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/kmtricks-logan/thirdparty/bcli"]
	path = external/kmtricks-logan/thirdparty/bcli
	url = https://github.com/tlemane/bcli.git
[submodule "external/kmtricks-logan/thirdparty/cfrcat"]
	path = external/kmtricks-logan/thirdparty/cfrcat
	url = https://github.com/tlemane/cfrcat.git
[submodule "external/kmtricks-logan/thirdparty/fmt"]
	path = external/kmtricks-logan/thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/kmtricks-logan/thirdparty/indicators"]
	path = external/kmtricks-logan/thirdparty/indicators
	url = https://github.com/p-ranav/indicators.git
[submodule "external/kmtricks-logan/thirdparty/kff-cpp-api"]
	path = external/kmtricks-logan/thirdparty/kff-cpp-api
	url = https://github.com/Kmer-File-Format/kff-cpp-api.git
[submodule "external/kmtricks-logan/thirdparty/lz4"]
	path = external/kmtricks-logan/thirdparty/lz4
	url = https://github.com/lz4/lz4.git
[submodule "external/kmtricks-logan/thirdparty/robin-hood-hashing"]
	path = external/kmtricks-logan/thirdparty/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "external/kmtricks-logan/thirdparty/spdlog"]
	path = external/kmtricks-logan/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/kmtricks-logan/thirdparty/xxHash"]
	path = external/kmtricks-logan/thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
